<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="SmtpServer" value="smtp.office365.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEncryption" value="STARTTLS" />
    <add key="FromEmail" value="PCParent-notify@outlook.com" />
    <add key="ToEmail" value="alex.d.horton95@gmail.com" />
  </appSettings>
</configuration>